<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/flowbite@1.3.4/dist/flowbite.min.css"
    />
    <link rel="stylesheet" href="css/index.css" />

    <!-- Tailwind Js -->
    <script src="https://unpkg.com/flowbite@1.3.4/dist/flowbite.js"></script>
    <!-- Cookies Js -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <!-- DatePicker Js -->
    <script src="https://unpkg.com/flowbite@1.3.4/dist/datepicker.js"></script>
  </head>

  <%- body %>
</html>
